<div layout="column" layout-align="start start" ng-style="{'min-height' : current_height, 'max-height' : current_height, overflow : 'auto'}" style="width:100%">

    <div layout="row" style="width: 100%;">
        <div flex></div>

        <md-input-container md-no-float flex="30">
            <input ng-model="filter.name" placeholder="Recherche sur le nom"/>
        </md-input-container>

        <div flex="5"></div>

        <md-switch ng-model="filter.pictureActive" aria-label="Is Connected">
            {{(!filter.pictureActive)?'Filter par photo presente':'Afficher tous les users'}}
        </md-switch>

        <div flex></div>

    </div>

    <div ng-if="isLoading" layout="row" layout-align="center center">
        <md-progress-circular md-mode="indeterminate" md-diameter="20px"></md-progress-circular>
        <span>Chargement en cours, merci de patienter</span>
    </div>

    <div layout="column" layout-align="center center" ng-if="users.isEmpty() && !isLoading">
        <span>Aucun User trouvé dans la base</span>
    </div>

    <div layout="column" layout-align="center center" ng-if="errors">
        <md-icon md-svg-src="material-design:error_outline" class="warn-font" style="width:70px;height: 70px"></md-icon>
        <p class="warn-font" style="font-size: 0.9em">{{errors}}</p>
    </div>


    <md-list style="width:100%">
        <md-list-item ng-repeat="user in users.items | filter : filterFn" ng-click="editUser(user)" style="width:100%">

            <img ng-src="{{user.getPicture()}}" style="width: 48px; height: 48px; border-radius: 20px;margin-right:10px" />

            <span>{{user.name}}</span>

            <div flex></div>

            <md-icon md-svg-src="material-design:edit"></md-icon>

        </md-list-item>
    </md-list>

</div>