<div layout="column" style="padding: 0px;" ng-style="{'min-height' : current_height}"  >

    <div layout="row" layout-align="end end">
        <md-button ng-click="navigateTo('create')" ng-disabled="createNotAvailable">
            <md-icon md-svg-src="material-design:add"></md-icon>
            Add new user
        </md-button>
    </div>

    <md-tabs md-selected="selectedIndex"  flex  md-border-bottom md-autoselect md-dynamic-height >

        <md-tab ng-repeat="tab in tabs"  ng-disabled="tab.disabled" style="">

            <md-tab-label>
                <h2 class="tabLabel">
                    <md-icon ng-if="tab.icon" md-svg-icon="material-design:{{tab.icon}}" style="width: 20px;height: 20px"></md-icon>
                    {{tab.title}}
                </h2>
            </md-tab-label>

            <md-tab-body  style="overflow:auto;">

                <div ng-switch="tab.directive">

                    <my-user-list ng-switch-when="my-user-list"  callback="actionsList" height="(current_height-14)" refresh="refresh"></my-user-list>

                    <my-user-form ng-switch-when="my-user-form"  callback="actionsForm" height="(current_height-14)" refresh="refresh" user="currentUser"></my-user-form>

                </div>


            </md-tab-body>

        </md-tab>

    </md-tabs>


</div>