

<md-toolbar class"md-hue-2">
  <div class="md-toolbar-tools">
    <img src="http://www.bus-stac.fr/var/site/storage/images/4/0/2/2/2204-1-eng-GB/B.png"  width = "40" alt = "bump"/>
  <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
    <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
  </md-button>
  <h2>
    <span>Bump Viewer</span>
  </h2>
  

</div>
</md-toolbar>

<md-content layout-fill layout="row">

<md-list style="height: 90%; overflow: auto" flex="30">

            <md-list-item class="md-2-line" ng-click="displayTagonTag(item)" ng-repeat= "item in tagList" style="background-color: lightgrey;">
                <!-- <img ng-if="" ng-src="" class="md-avatar" alt="{{person.name}}" /> -->
                <div class="md-list-item-text" >
                    <h3>{{ item }}</h3>

                </div>
                <h6 style = "color : grey;font-style : italic;margin-right : 5px;" > {{item.bumpCount}} </h6>
            </md-list-item>


</md-list>

<div style = "background-color: white;" flex = "70">
  <md-list style="height: 90%; overflow: auto;" flex="30">

              <md-list-item class="md-2-line" ng-click="displayTagonTag(item.tag)" ng-if = "displayTag != null" ng-repeat = "bump in underTag | orderBy : '-bumpCount'">
                  <!-- <img ng-if="" ng-src="" class="md-avatar" alt="{{person.name}}" /> -->
                  <div class="md-list-item-text">
                       {{bump.tag}}
                  </div>

                  <div class ="md-list-item-status" style = "font-weight : bold; font-style : italic; margin-right : 5px;" layout="column">
                      {{bump.count}}
                  </div>
                  <div class ="md-list-item-status" layout="column">
                      <img src="http://www.bus-stac.fr/var/site/storage/images/4/0/2/2/2204-1-eng-GB/B.png"  width = "20" alt = "bump"/>
                  </div>
              </md-list-item>


  </md-list>
</div>
</md-content>
