<style>
    /*Remove whitespace underneath md inputs*/
    .md-errors-spacer:empty {
        display: none;
    }
</style>

<div layout="column" layout-align="space-between stretch" layout-fill>
    <iframe flex="80"
            ng-src="{{ url | trusted }}" ng-onload="actions.onLoad(url)"></iframe>

    <div layout="row" layout-align="start center">
        <md-input-container>
            <label>User</label>

            <input ng-model="myUser" />
        </md-input-container>

        <md-input-container>
            <label>Website</label>

            <input ng-keypress="setUrl($event)" />

            <div layout="row" layout-align="end center">
                <md-progress-circular md-mode="indeterminate" md-diameter="26"
                                      ng-if="isLoading"></md-progress-circular>
            </div>
        </md-input-container>

        <md-button type="submit" flex-offset="5"
                   ng-click="actions.bump">
            <md-icon md-svg-src="material-design:thumb_up"></md-icon>

            Bump!
        </md-button>
    </div>
</div>